.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
}

.newsDetails {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.newsText .genre {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
}

.genre{
  font-size: 24px;
  margin: 20px 0;
  font-style: italic;
}


